<button
        class="btn btn-link"
        (click)="revert()"
>Reverse
</button>

<button
        class="btn btn-link"
        (click)="createNew()"
>
    <span *ngIf="!showCreateForm">Create new</span>
    <span *ngIf="showCreateForm">Close create form</span>
</button>


<button
        class="btn btn-link"
        (click)="showEditSegment()"
>Show all
</button>


<div class="container-fluid" *ngIf="!showEdit">
    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form *ngIf="showCreateForm" [formGroup]="newCardForm" (ngSubmit)="onSubmitNew(newCardForm)">
                <label for="newWord" class="col-2 col-form-label">Word</label>
                <input
                        class="form-control"
                        formControlName="newWord"
                        id="newWord"
                        type="text"
                >
                <label for="newTranslation" class="col-2 col-form-label">Translation</label>
                <input
                        class="form-control"
                        formControlName="newTranslation"
                        type="text"
                        id="newTranslation"
                >
                <h4 class="submit-btn-holder">
                    <button
                            class="btn btn-info"
                            type="submit"
                            [disabled]="newCardForm.invalid"
                    >Create
                    </button>
                </h4>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" *ngIf="!reverse && !showCreateForm">
            <form [formGroup]="cardForm" (ngSubmit)="check(cardForm)" *ngIf="currentCard">
                <h2>{{currentCard.word}}</h2>
                <label for="translation" class="col-2 col-form-label">Translation</label>
                <input
                        class="form-control"
                        type="text"
                        formControlName="translation"
                        id="translation"
                >
                <div *ngIf="translationError" class="error">{{translationError}}</div>
            </form>
        </div>

        <div class="col-md-6" *ngIf="reverse && !showCreateForm">
            <form [formGroup]="reverseForm" (ngSubmit)="reverseCheck(reverseForm)" *ngIf="currentCard">
                <h2>{{currentCard.translation}}</h2>
                <label for="rTranslation" class="col-2 col-form-label">English:</label>
                <input
                        class="form-control"
                        type="text"
                        formControlName="rWord"
                        id="rTranslation"
                >
                <div *ngIf="translationError" class="error">{{translationError}}</div>

            </form>

        </div>


    </div>

</div>

<div class="container-fluid" *ngIf="showEdit">
    <div class="row">
        <div class="col-md-6">
            all
            <div class="row" *ngFor="let card of cardsList">
                <div class="col-md-2">{{card.word}}</div>
                <div class="col-md-2">{{card.translation}}</div>
                <div class="col-md-2"><button class="btn btn-link" (click)="deleteCard(card)">delete</button></div>
            </div>
        </div>
    </div>
</div>
