







<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <h2><a [routerLink]="['../create-cards']" >Create</a></h2>
            <h2><a [routerLink]="['../cards-list']" >Cards list</a></h2>
            <button
                    class="btn btn-link"
                    (click)="revert()"
            >Reverse
            </button>
        </div>
        <div class="col-md-6" *ngIf="!reverse">
            <form [formGroup]="cardForm" (ngSubmit)="check(cardForm)" *ngIf="currentCard">
                <h2>{{currentCard.word}}</h2>
                <label for="translation" class="col-2 col-form-label">Translation</label>
                <input
                        class="form-control"
                        type="text"
                        formControlName="translation"
                        id="translation"
                        autocomplete="off"
                >
                <div *ngIf="translationError" class="error">{{translationError}}</div>
            </form>
        </div>

        <div class="col-md-6" *ngIf="reverse">
            <form [formGroup]="reverseForm" (ngSubmit)="reverseCheck(reverseForm)" *ngIf="currentCard">
                <h2>{{currentCard.translation}}</h2>
                <label for="rTranslation" class="col-2 col-form-label">Слово</label>
                <input
                        class="form-control"
                        type="text"
                        formControlName="rWord"
                        id="rTranslation"
                        autocomplete="off"
                >
                <div *ngIf="translationError" class="error">{{translationError}}</div>

            </form>

        </div>
    </div>
</div>

