<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-brand btn-link">Trainer</button>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#" routerLink="cards" routerLinkActive="active">Words</a></li>
                <li><a href="#" routerLink="infinitives" routerLinkActive="active">Infinitives</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
