<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <h2><a [routerLink]="['../create-infinitives']">Create</a></h2>
            <h2><a [routerLink]="['../infinitives-list']">List</a></h2>
            <h5>
                <button
                        class="btn btn-link"
                        (click)="revert()"
                >Reverse
                </button>
            </h5>
            <h5>
                <button class="btn btn-link" (click)="showHint()">
                    Show hint
                </button>
            </h5>
        </div>


        <div class="col-md-6" *ngIf="!reverse">
            <form [formGroup]="infinitiveForm"
                  (ngSubmit)="onSubmit(infinitiveForm)"
                  *ngIf="currentInfinitive"
                  (keydown)="keyDown(infinitiveForm, $event, aInputs)"
            >
                <h1>{{currentInfinitive.translation}}</h1>
                <div class="error" *ngIf="errorCheck">{{errorCheck}}</div>
                <label for="infinitive" class="col-2 col-form-label">Infinitive</label>
                <input
                        class="form-control a-input"
                        formControlName="infinitive"
                        id="infinitive"
                        type="text"
                        autocomplete="off"
                >
                <label for="pastSimple" class="col-2 col-form-label">Past simple</label>
                <input
                        class="form-control a-input"
                        formControlName="pastSimple"
                        type="text"
                        id="pastSimple"
                        autocomplete="off"
                >

                <label for="pastParticiple" class="col-2 col-form-label">Past participle</label>
                <input
                        class="form-control a-input"
                        formControlName="pastParticiple"
                        type="text"
                        id="pastParticiple"
                        autocomplete="off"
                >
            </form>

        </div>

        <div class="col-md-6" *ngIf="reverse">
            <form [formGroup]="rInfinitiveForm"
                  (ngSubmit)="onSubmit(rInfinitiveForm)"
                  *ngIf="currentInfinitive"
                  (keydown)="keyDown(rInfinitiveForm, $event, rInputs)"
            >
                <h1>{{currentInfinitive.infinitive}}</h1>
                <div class="error" *ngIf="errorCheck">{{errorCheck}}</div>
                <label for="rTranslation" class="col-2 col-form-label">Translation</label>
                <input
                        class="form-control r-input"
                        formControlName="translation"
                        id="rTranslation"
                        type="text"
                        autocomplete="off"
                >
                <label for="rPastSimple" class="col-2 col-form-label">Past simple</label>
                <input
                        class="form-control r-input"
                        formControlName="pastSimple"
                        type="text"
                        id="rPastSimple"
                        autocomplete="off"
                >

                <label for="rPastParticiple" class="col-2 col-form-label">Past participle</label>
                <input
                        class="form-control r-input"
                        formControlName="pastParticiple"
                        type="text"
                        id="rPastParticiple"
                        autocomplete="off"
                >
            </form>

        </div>


    </div>


</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" *ngIf="hint">
            {{currentInfinitive | json}}
        </div>
    </div>
</div>